@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.sliding{
    height: 80vh;
}
body{
background-color: black;
color:white;
opacity: 80%;
}
.second-lyer{
    position: relative;
    height: 80vh;
    width:100%;
    background-color: #000;
    opacity: 70%;
}
.firstpara{
    margin: 30px 250px 30px 250px;
    border-radius: 5px;
    box-shadow: #555 inset;

}

.firstpara:hover,
.firstpara:focus {
box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
transform: translateY(-0.25em);
opacity: 100%;
background-color: darkgray;
color: black;
}
.pic{
    background-color:#336d88;
   background-image: url('./image\ ‫‬/1html\ ‫‬.png');
   width: 25vw;
   height: 30vh;
   text-align: center;
   line-height: 250px;
   display: inline-block;
   background-repeat: no-repeat;
   background-position: center center;
       margin-bottom: -10px;
           margin-left: -10px;
           margin-right: -10px;

           



}
.pic1{
    background-color:#1d1b38;
       background-image: url('./image\ ‫‬/css.png');
   width: 25vw;
   height: 30vh;
   text-align: center;
   line-height: 250px;
   display: inline-block;
   background-repeat: no-repeat;
   background-position: center center;
   margin-bottom: -10px;
   margin-left: -10px;
   margin-right: 5px;


}
.pic2{
    background-color:#336d88;
       background-image: url('./image\ ‫‬/js.png');
       background-repeat: no-repeat;
   background-position: center center;
   width: 25vw;
   height: 30vh;
   text-align: center;
   line-height: 250px;
   display: inline-block;
       margin-left: -10px;
       margin-bottom: -10px;
       margin-right: 5px;


}.pic3{
    background-color:#1d1b38;
           background-image: url('./image\ ‫‬/php\ \(5\).png');
       background-repeat: no-repeat;
   background-position: center center;
   width: 25vw;
   height: 30vh;
   text-align: center;
   line-height: 250px;
   display: inline-block;
       margin-left: -01px;
       margin-bottom: -10px;


}.pic4{
    background-color: #1d1b38;
               background-image: url('./image\ ‫‬/android\ \(2\).png');
       background-repeat: no-repeat;
   background-position: center center;
   width: 25vw;
   height: 30vh;
   text-align: center;
   line-height: 250px;
   display: inline-block;
       margin-left: -4px;
           margin-bottom: -10px;



}.pic5{
    background-color:#336d88;
               background-image: url('./image\ ‫‬/mysql1.png');
           background-repeat: no-repeat;
       background-position: center center;
   width:25vw;
   height: 30vh;
   text-align: center;
   line-height: 250px;
   display: inline-block;
       margin-left: -10px;
           margin-bottom: -10px;


}.pic6{
    background-color:#1d1b38;
     background-image: url('./image\ ‫‬/csharp1.png');
       background-repeat: no-repeat;
   background-position: center center;
   width: 25vw;
   height: 30vh;
   text-align: center;
   line-height: 250px;
   display: inline-block;
       margin-left: -10px;
       margin-bottom: -10px;

}.pic7{
    background-color: #336d88;
                   background-image: url('./image\ ‫‬/c++.png');
       background-repeat: no-repeat;
   background-position: center center;
   width: 25vw;
   height: 30vh;
   text-align: center;
   line-height: 250px;
   display: inline-block;
           margin-left: -10px;
           margin-bottom: -10px;
           margin-right: -10px;

}


.pc{
   display: inline-block;
}

.flip-card {
   background-color: transparent;
   width: 25vw;
   height: 30vh;
   perspective: 1000px;
display: inline-block;
margin-left: -10px;
margin-bottom: -10px;
margin-right: -10px;
 }
 
 .flip-card-inner {
   position: relative;
   width: 25vw;
   height: 30vh;
   text-align: center;
   transition: transform 0.6s;
   transform-style: preserve-3d;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 }
 
 
 .flip-card:hover .flip-card-inner {
   transform: rotateY(180deg);
   width: 25vw;
   height: 30vh;
 }
 
 .flip-card-front, .flip-card-back {
   position: absolute;
   width: 25vw;
   height: 30vh;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   
 }
 
 .flip-card-front {
   width: 25vw;
   height: 30vh;    color: black;
   
 }
 
 .flip-card-back {
   width: 25vw;
   height: 30vh;
   background-color: #2980b9;
   color: white;
   transform: rotateY(180deg);
 }
 input[type=text]:focus {
    border: 3px solid #555;
  }
  .forming h1{
    font-family: 'Open Sans', sans-serif;
    }
    .forming p{
        font-family: 'Fondamento', cursive;
    }
        .forming h5{
            font-family: 'Open Sans', sans-serif;
            }
    label {
       font-family: 'Fondamento', cursive;
      
      }
      button{
        border-radius: 3px;
        width:150px;
    } 
    .ph{
        font-family: 'Fondamento', cursive;    }
        
        .social ul{
            margin-top: 70vh;
            position: fixed;
            z-index: 1;
        
        }        .social li{
            background-color:whitesmoke;
            opacity: 50%;
            border-radius: 50%;
            display :block;
                padding: 1px;
            margin: 5px;
 }